.med_info {
    padding: 10px 0;
    width: 100%;
    left: 0;
    /* margin: 0 auto; */
    background-color: aqua;
    position: fixed; /* Фиксированное положение */
    top: 0; /* Расстояние от правого края окна браузера */
    /* position:; */
    text-align: center;
}
body {
    background-color: red;
    height: 1200px;
}
.med_timer {
    font-weight: bold;
}